.footer-logo {
  margin-bottom: 70px;
}
.snowflake {
  position: fixed;
  top: 20%; /* start height, adjusted with nth-child */
  left: -10%; /* start from outside left */
  z-index: 9999;
  user-select: none;
  pointer-events: none; /* don’t block clicks */
  animation-name: birds-fly, birds-flap;
  animation-duration: 15s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.hero {
  position: relative;
  overflow: hidden;
}

canvas.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.banner-data {
  position: relative;
  z-index: 1 !important;
}

html {
  cursor: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  /* or your bird's size */
  height: 100px;
  z-index: 9999;
  pointer-events: none;
}

.bird-cursor {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

/* contact page */

.form-input {
  position: relative;
  margin-bottom: 20px;
}

.form-input input,
.form-input select {
  width: 100%;
  padding: 4px 2px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.form-input input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 6px rgba(59, 130, 246, 0.3);
}

.form-input input.error {
  border: 1px solid red !important;
  background: #fff6f6;
}

/* Floating label */
.form-input label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 14px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form-input input:focus + label,
.form-input input:not(:placeholder-shown) + label {
  top: -5px;
  left: 10px;
  background: transparent;
  padding: 0 5px;
  font-size: 12px;
  color: #1d1e1eff;
}

.d-block {
  color: rgba(255, 255, 255, 0.6) !important;
}

a {
  text-decoration: none !important;
  color: rgb(17 30 34) !important;
}
.modal-content {
  border-radius: unset !important;
}

/* select,
input:not([type="range"]),
textarea {
  border: 1px solid #000 !important;
} */

.contactForm select,
.contactForm input:not([type="range"]),
.contactForm textarea {
  height: 40px !important;
}
.menuFullScreen-links__item > a {
  color: #fff6f6 !important;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.content {
  display: none;
}

#loader img {
  width: 120px;
  height: auto;
}
